@import '../../utils/style/main-style.scss';

.image-card {
    display: flex;
    height: 249.8px;
    width: 249.8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    position: relative;

    &__image {
        height: 100%;
        width: 100%;
        border-radius: 8px;
        object-fit: cover;
    }

    &__icons-container {
        position: absolute;
        display: flex;
        gap: 8px;
        top: 8px;
        right: 8px;
    }

    &__icon{
        height: 24px;
        width: 24px;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.3);
    }

    &__icon--delete {
        color: rgba(206, 11, 36, 0.50);
    }

    &__icon--delete:hover {
        color: rgba(206, 11, 36, 14);
    }

    &__icon--edit {
        color: rgba(255, 199, 14, 0.50);
    }

    &__icon--edit:hover {
        color: rgb(255, 199, 14);
    }

    &__info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: calc(100% - 20px);
        height: 50px;
        background: rgba(144, 169, 179, 0.80);;
        border-radius: 0 0 8px 8px;
        display: flex;
        gap: 8px;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
    }

    &__text {
        color: #FFF;
        font-family: Iowan Old Style, serif;
        font-size: 12px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
    }
}